.wrapper
  .chat-main
    .chat-main__group-info
      .chat-main__group-info-leftbox
        .chat-main__group-info-leftbox-name
          = @group.name
        .chat-main__group-info-leftbox-member-list
          Member:
          .chat-main__group-info-member-list-member
            -@group.users.each do |user|
              = user.name
      .chat-main__group-info-btn
        =link_to("Edit", edit_group_path(@group), class:"chat-main__group-info-btn-edit")
    .chat-main__message-list
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'